@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jersey+25&display=swap');

body {
    background-color: rgb(38, 42, 48);
    text-align: center;
    align-items: center;
    justify-content: center;
}
h1 {
    color: white;
    font-family: "Jersey 25";
}
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal {
    background-color: rgb(220, 212, 212);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-container #win {
    opacity: 0;
}

.modal-header {
    color:#2328a4
}

input {
    color: white;
    width: 1.5rem;
    margin: 5px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(38, 42, 48);
    border: rgb(78, 76, 76) solid 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    font-family: 'Fjalla One';
}

li {
    text-align: left;
    font-size: 20px;
}
button {
    background-color: #008CBA;
    border: none;
    padding: 15px;
    border-radius: 8px;
}
button:hover {
    cursor: pointer;
    background-color:#71dcff;
    transition-duration: .4s;
    
}